<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Edit Assistant</title>
</head>
<body>
<div th:replace="~{navbar :: nav}"></div>
<div class="container">

    <div>

        <h1 class="my-3">
            <a class="link-offset-2 link-underline link-underline-opacity-0 link-secondary me-2" th:href="${previousPage}"
               data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Go Back">
                <button class="btn btn-outline-secondary"><
                </button>
            </a>
            Edit Assistant - <span th:text="${assistants.name}"/>
            <a data-bs-toggle="tooltip"
               data-bs-placement="top" data-bs-title="Add new Assistant">
                <button class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">X
                </button>
            </a>
        </h1>


        <form class="row g-3" method="post" th:action="@{/update-assistant}">
            <div>
                <input class="form-control" type="hidden" name="id" th:value="${assistants.id}"/>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="name">Name:</label>
                <input class="form-control" type="text" id="name" name="name" th:value="${assistants.name}"/>
            </div>

            <div class="col-md-6"></div>
            <div class="col-md-6">
                <label class="form-label" for="name">NFC ID:</label>
                <input class="form-control" type="text" id="nfcTagId" th:field="*{assistants.nfcTagId}"/>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete Assistant - <span
                            th:text="${assistants.name}"></span></h5>
                </div>
                <div class="modal-body">
                    You are about to delete the selected Assistant permanently. This cannot be undone.
                    Do you want to proceed?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            data-bs-target="#exampleModal">Close
                    </button>
                    <div>
                        <form action="#" th:action="@{/delete-assistant}" method="post">
                            <input class="form-control" type="hidden" name="id" th:value="${assistants.id}"/>
                            <button class="btn btn-danger" type="submit">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>
